body {
    margin: 0;
    /*background-image: url("https://assets.awwwards.com/awards/images/2021/09/patterns_cover_8jpg.jpg");*/
    background-color: black;
    background-attachment: fixed;
    font-family: Poppins Condensed, sans-serif;

}

a {
    text-decoration: none;
}

* {
    scrollbar-width: none;
    cursor: none;
}

.mouse_following {
    display: block;
    position: fixed;
    border-radius: 50%;
    background-color: white;
    width: 50px;
    height: 50px;
    filter: blur(5px);
    pointer-events: none;
    transform: translateX(-25px) translateY(-25px);
    z-index: 999999;
}
